html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #cddeeb;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro";
  color: black;
  font-size: 30px;
  margin: 0;
  background-color: #cddeeb;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
}

 main {
  border-radius: 12px;
  background-color: white;
  width: 90%;
  margin: auto;
  padding: 1.0em;
 }